@import "../utils/variables";

.projects {
  background-color: $main-color;
  color: rgb(241, 245, 249);
  padding: 2rem 7rem;
  display: flex;
  gap: 4rem;
  padding-bottom: 4.5rem;
  border-top: 1px dashed white;
  padding-top: 3.5rem;
  display: flex;
  flex-direction: column;
  a {
    color: rgb(241, 245, 249);
  }
}

.projects-header {
  font-size: 2.3rem;
}

.project-video {
  width: 50vw;
  max-width: 1000px;
  margin-right: auto;
}

.project-container {
  display: flex;
  padding: 2rem 0;
  gap: 1rem;
}

.project-description {
  text-align: center;
  font-size: 1.1rem;
  margin-top: 0.5rem;
  max-width: 50rem;
}

.project-overview {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Cabin", sans-serif;
}

.project-name {
  font-weight: 700;
  font-size: 2.7rem;
  margin-bottom: 0;
  margin-left: 1rem;
  text-align: center;
  display: flex;
  gap: 0.7rem;
  align-items: center;
  justify-content: center;
  min-width: 28.125rem;
}

.project-links {
  display: flex;
  gap: 1rem;
  margin-top: -0.31rem;
}

.github-link:hover,
.preview-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.project-icon {
  height: 45px;
  width: 45px;
}

@media (min-width: 2100px) {
  .projects {
    align-items: center;
    gap: 5rem;
  }
  .project-container {
    gap: 3rem;
  }
}

@media (max-width: 1200px) {
  .projects {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media (max-width: 1100px) {
  .projects {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .project-video {
    width: 85vw;
  }

  .project-name {
    line-height: 1.1;
  }
  .project-links {
    margin-top: 0;
  }

  .project-icon {
    height: 30px;
    width: 30px;
  }

  .project-container {
    flex-direction: column;
  }

  .project-container:nth-child(even) {
    flex-direction: column-reverse;
  }
}

@media (max-width: 600px) {
  .project-name {
    font-size: 1.5rem;
    min-width: 0;
  }

  .projects {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (max-width: 330px) {
  .projects {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .project-video {
    width: 90vw;
  }
}
