.projects {
  background-color: rgb(15, 23, 42);
  color: rgb(241, 245, 249);
  padding: 2rem 7rem;
  display: flex;
  gap: 2rem;
  padding-bottom: 4.5rem;
  border-top: 1px dashed white;
  padding-top: 3.5rem;
  display: flex;
  flex-direction: column;
  a {
    color: rgb(241, 245, 249);
  }
}

.projects-header {
  font-size: 2.3rem;
}

.project-video {
  border: 1px solid white;
  height: 450px;
  width: 600px;
}

.project-container {
  display: flex;
}

.project-description {
  margin: 1rem;
  text-align: center;
  font-size: 1.1rem;
}

.project-overview {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Cabin", sans-serif;
}

.project-name {
  font-weight: 700;
  font-size: 2.7rem;
  margin-bottom: 0;
}

.project-links {
  display: flex;
  gap: 1rem;
  font-weight: 700;
  margin-top: -0.3rem;
}

.github-link:hover,
.preview-link:hover {
  text-decoration: underline;
  cursor: pointer;
}
