$font-size-xs: 0.75rem;
$font-size-sm: 0.875rem;
$font-size-md: 1rem;
$font-size-lg: 1.125rem;
$font-size-xl: 1.3125rem;
$font-size-2xl: 1.5rem;
$font-size-3xl: 2.652rem;
$font-size-4xl: 3.5rem;
$font-size-5xl: 4rem;

/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body,
html {
  height: 100%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
  height: 100%;
}

/* CSS Start */
.hero {
  height: 100%;
  background-color: rgb(30, 41, 59);
  color: rgb(241, 245, 249);
  h1 {
    font-weight: normal;
    font-family: "Cabin", sans-serif;
  }
}

.bounce-wrapper {
  font-size: 5.7rem;
  padding-top: 2.5%;
  padding-left: 8%;
  font-family: "Source Code Pro", monospace;
  font-weight: 600;

  span {
    display: inline-block;
    letter-spacing: 2px;
    animation: waveAnimate 1s 1;
    animation-delay: calc(0.1s * var(--i));
  }
}

.hero-main {
  font-size: 2.7rem;
  padding-top: 0.6rem;
  line-height: 1.7;
}

.hero-name {
  opacity: 0;
  padding-left: 20%;
  animation: fadeIn 2s;
  animation-delay: 1.5s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.hero-name-2 {
  text-decoration: none;
  opacity: 0;
  animation: fadeInOnly 1.5s, textDecoration 1;
  animation-delay: 3.5s, 8s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  text-decoration-color: white;
}

.hero-title {
  opacity: 0;
  padding-left: 20%;
  animation-name: fadeIn;
  animation-delay: 5s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.hero-title-2 {
  opacity: 0;
  text-decoration: none;
  animation: fadeInOnly 1.5s, textDecoration 1;
  animation-delay: 7s, 9s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  text-decoration-color: white;
}
@keyframes waveAnimate {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(-70px);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate(-80px, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes fadeInOnly {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes textDecoration {
  to {
    text-decoration: underline;
  }
}

.scroll-down {
  position: absolute;
  opacity: 0;
  left: 50%;
  bottom: 5vh;
  display: block;
  text-align: center;
  font-size: 20px;
  z-index: 100;
  text-decoration: none;
  text-shadow: 0;
  width: 13px;
  height: 13px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  z-index: 9;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
  -webkit-animation: fadePulsate 2s ease-in-out infinite;
  -moz-animation: fadePulsate 2s ease-in-out infinite;
  animation: fadePulsate 2s ease-in-out infinite;
  animation-delay: 10s;
}

@keyframes fadePulsate {
  0% {
    -webkit-transform: translate(0, -10px) rotate(45deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0, 10px) rotate(45deg);
    opacity: 0;
  }
}
